<%- include("partials/header.ejs") -%>
<%- include("partials/navbar.ejs") -%>

<div class="container">
  <h1>This is the body</h1>
  <p style="margin: 1rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quaerat itaque fugit reprehenderit corporis eius officiis, consectetur non cupiditate voluptatum nesciunt rem ipsam vel voluptas nobis nostrum doloribus minima! Ullam!</p>
  <p style="margin: 1rem;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam iure sit quo. Vero officiis nemo assumenda illum enim quaerat animi. Rerum est quasi quas ipsa nulla consequatur cupiditate nesciunt hic!</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam delectus error enim? Unde molestiae quis tempore, exercitationem, cupiditate ad numquam quasi nisi explicabo itaque eligendi incidunt nemo ducimus cumque.</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa aperiam unde nihil, reprehenderit soluta repudiandae sed ipsa ea distinctio mollitia, magni quia sequi a quam voluptate aliquam natus laboriosam suscipit.</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum dolorem iure fuga ipsam temporibus recusandae, exercitationem ut non aliquam quasi id expedita corporis vitae? Deserunt itaque doloremque consequuntur harum possimus.</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id a ullam tempora nam magnam ipsum velit et accusamus incidunt voluptatum quibusdam, eius totam veniam soluta distinctio suscipit eveniet necessitatibus officiis.</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa aperiam unde nihil, reprehenderit soluta repudiandae sed ipsa ea distinctio mollitia, magni quia sequi a quam voluptate aliquam natus laboriosam suscipit.</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum dolorem iure fuga ipsam temporibus recusandae, exercitationem ut non aliquam quasi id expedita corporis vitae? Deserunt itaque doloremque consequuntur harum possimus.</p>
  <p style="margin: 1rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id a ullam tempora nam magnam ipsum velit et accusamus incidunt voluptatum quibusdam, eius totam veniam soluta distinctio suscipit eveniet necessitatibus officiis.</p>
</div>


<%- include("partials/footer.ejs") -%>

<script src="/anime.min.js"></script>
<script src="<%= app_public_route %>/js/navbar.js" type="text/javascript"></script>

<%- include("partials/html_close.ejs") -%>